
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddedStatus</title>
    <link href="~/style/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="top-nav" style="height:41px;">
        <div class="heading"><h1>Teacher-Student</h1></div>
        <img src="~/images/humanpictos.png" alt="TeacherStudentConnect" class="image" />
    </div>

    <div>
        <h1 style="text-align:center;">Resource Added successfully.</h1>
    </div>
    <div class="footer" style="margin-left: -8px;">
        <p>&copy; 2020 Admin Login Form</p>
    </div>
</body>
</html>
